:root {
    --dark-dark: #26171b;
    --dark-med: #3a1d25;
    --dark-light: #4d202d;
    --dark-text: #f0f0f0;
    --dark-hoverBackground: rgba(0, 0, 0, 0.75);
  }

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  margin: 0;
  background: black;
  color: var(--dark-text);
  font-family: 'Roboto Mono', monospace;
  position: relative;
}

h1,
h2,
h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600
}
h1 {
  font-size: 2em;
}

p {
  padding: 0; 
  margin: 0;
  color: var(--light-text);
}

div.info {
    display: flex;
}
div.info > div.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

@media screen and (max-width: 768px) {
    div.info, div.name {
      flex-direction: column;
      align-items: center;
      align-content: center;
    }
}

img.avatar {
    width: 10em;
    height: 10em;
    border-radius: 100%;
    margin: 1em;
}

@media screen and (max-width: 768px) {
    div.avatar-name, div.name {
      flex-direction: column;
      align-items: center;
      align-content: center;
    }
}

div.bg {
    width: 100%;
    height: 100vh;
    filter: brightness(50%);
    overflow: hidden;
    position: relative;
}


div.info {
    position: absolute;
    z-index: 999;
    text-align: center;
    vertical-align: middle;
}

div.name > h1, div.name > h2 {
    font-weight: normal;
    padding: 0;
    margin: 0;
}

a, a:visited, a:link, a:hover, a:active {
    color: var(--dark-text);color: var(--light-text);
}

div.src {
  position: absolute;
  top: 8px;
  left: 8px;
}

i {
  margin-top: 0.3em;
}
